<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title></title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <style>
        .top-buffer {
            margin-top: 15px;
        }

    </style>
</head>
<body>

<div id="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a type="button" class="btn" data-toggle="modal" data-target="#helpModal"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
                </li>
                <li>
                    <a href="https://github.com/ptrstn/lumis/issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Report an issue</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Luminosity Sections</h1>
        <div class="well">
            <form class="form-horizontal" method="GET">

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Run Number Range</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_min" step="1" id="id_run_min" placeholder="Min" value="{{ request.GET.run_min }}">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_max" step="1" id="id_run_max" placeholder="Max" value="{{ request.GET.run_max }}">
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center top-buffer">
                        <button type="submit" class="btn btn-primary">Show JSON</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container-fluid">
        {% if dcs_off %}
            <div class="alert alert-info">
                <strong>DCS-off runs:</strong> {{ dcs_off|join:", " }}
            </div>
        {% endif %}

        {% if all_lumis %}
            <h2>All Lumisections</h2>
            <div class="well">
                {{ all_lumis }}
            </div>

            <h2>Good Lumisections</h2>
            <div class="well">
                {{ good_lumis }}
            </div>

            <h2>Bad Lumisections</h2>
            <div class="well">
                {{ bad_lumis }}
            </div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger">
                <strong>Error!</strong> Your request caused an error. Please enter correct run numbers.
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="helpModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This page returns a list of luminosity sections in a JSON format.
                    </p>
                    <p>
                        The output of this page is intended to be used as an input for <a href="https://cms-service-lumi.web.cern.ch/cms-service-lumi/brilwsdoc.html">brilcalc</a>.
                        Currently, only the <b>Tracker</b> workspace of the Run Registry is used.
                    </p>
                    <p>
                        If you have any problems or improvements feel free to create an <a href="https://github.com/ptrstn/lumis/issues">issue</a> on GitHub.
                    </p>
                    <h4>Brilcalc usage</h4>
                    <p>
                        The integrated luminosity can be calculated using brilcalc with the following command:

                    <div class="well">
                        brilcalc lumi -i &lt;json outpout&gt;
                    </div>
                    </p>

                    <p>
                        Example:

                    <div class="well">
                        brilcalc lumi -u /pb -i '{"323470": [[38, 172], [173, 175], [176, 218], [219, 222], [223, 266]], "323471": [[1, 238]]}'
                    </div>

                    <pre class="well">#Summary:
+-------+------+-----+------+-------------------+------------------+
| nfill | nrun | nls | ncms | totdelivered(/pb) | totrecorded(/pb) |
+-------+------+-----+------+-------------------+------------------+
| 1     | 2    | 467 | 460  | 170.872           | 159.210          |
+-------+------+-----+------+-------------------+------------------+</pre>

                    </p>

                    <h4>How does it work</h4>

                    <p>
                        The JSON output is retrieved similar to the <a href="https://github.com/CMSTrackerDPG/CalculateLuminosity/blob/7d7a6e79dba726b4dbd888b4f4c9904d2f155a62/dataCertTRK.py">updated</a> version of the <a href="https://github.com/cms-DQM/certTools/blob/master/dataCert.py">dataCert.py</a> script.
                        It accesses the RunRegistry via the <a href="https://github.com/valdasraps/resthub">resthub API</a> and then checks for following properties:
                    <ul>
                        <li>Tracker workspace</li>
                        <li>Only <b>collisions</b> runs</li>
                        <li>Only <b>prompt</b> reconstruction</li>
                        <li>Following DCS components have to be on:
                            <ul>
                                <li>TIBTID</li>
                                <li>TECM</li>
                                <li>TECP</li>
                                <li>TOB</li>
                            </ul>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

{% bootstrap_javascript jquery=1 %}
</body>
</html>
