<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title></title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <style>
        .top-buffer {
            margin-top: 15px;
        }

    </style>
</head>

<body>
<div id="content">{% block content %}
    <div class="container">
        <h1 class="text-center">View Lumi Sections</h1>
        <div class="well">
            <form class="form-horizontal" method="POST">{% csrf_token %}

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Run Number Range</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_min" step="1" id="id_run_min" placeholder="Min">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_max" step="1" id="id_run_max" placeholder="Max">
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center top-buffer">
                        <button type="submit" class="btn btn-primary">Show</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container-fluid">
        {% if table %}
            {% load render_table from django_tables2 %}
            {% render_table table %}
        {% endif %}

    </div>
{% endblock %}</div>
{% bootstrap_javascript jquery=1 %}
{% block script %}{% endblock %}
</body>
</html>
