<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title></title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <style>
        .top-buffer {
            margin-top: 15px;
        }

    </style>
</head>

<body>
<div id="content">{% block content %}
    <div class="container">
        <h1 class="text-center">Luminosity Sections</h1>
        <div class="well">
            <form class="form-horizontal" method="GET">

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">Run Number Range</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_min" step="1" id="id_run_min" placeholder="Min">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_max" step="1" id="id_run_max" placeholder="Max">
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center top-buffer">
                        <button type="submit" class="btn btn-primary">Show JSON</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container-fluid">
        {% if all_lumis %}
            <h2>All Lumisections</h2>
            <div class="well">
                {{ all_lumis }}
            </div>

            <h2>Good Lumisections</h2>
            <div class="well">
                {{ good_lumis }}
            </div>

            <h2>Bad Lumisections</h2>
            <div class="well">
                {{ bad_lumis }}
            </div>
        {% endif %}

    {% if error %}
        <div class="alert alert-danger">
          <strong>Error!</strong> Your request caused an error. Please enter correct run numbers.
        </div>
    {% endif %}
    </div>
{% endblock %}</div>
{% bootstrap_javascript jquery=1 %}
{% block script %}{% endblock %}
</body>
</html>
